html
  body
    h1 Kithen Sink PAGE!!!
    h3 res.locals.data1 = !{JSON.stringify(data1)}    
    h3 res.locals.data2 = !{JSON.stringify(data2)}    
    h3 res.locals.data3 = !{JSON.stringify(data3)}    
    h3 res.locals.data4 = !{JSON.stringify(data4)}    
    h3 res.locals.data5 = !{JSON.stringify(data5)}    
