html
  body
    h1 Kithen Sink PAGE!!!
    h3 res.yukon.data1 = !{JSON.stringify(data1)}    
    h3 res.yukon.data2 = !{JSON.stringify(data2)}    
    h3 res.yukon.data3 = !{JSON.stringify(data3)}    
    h3 res.yukon.data4 = !{JSON.stringify(data4)}    
    h3 res.yukon.data5 = !{JSON.stringify(data5)}    
    h1 test form submit
      form(action='/json/submitForm', method='post')
        input(type='hidden', name='param1', value='test1')
        input(type='hidden', name='param2', value='test2')
        button(type='submit') Submit Form    
